<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

  <section>
    <p>title: <%= taskInfo.title %></p>
    <p>description: <%= taskInfo.description %></p>
    <p>contact<%= taskInfo.contact %></p> 
    <p>status <%=taskInfo.status %></p>
  </section>
</body>
</html>